@import 'src/assets/styles/base/colors.scss';
@import 'src/assets/styles/base/custom.scss';

.users {
  width: 15%;
  &-content__img {
    background-color: $white-100;
    width: 100%;
    height: 6rem;
    fa-icon {
      font-size: 5rem;
    }
  }
}

app-form {
  width: 80%;
}

::ng-deep app-form {
  margin-top: 0.8rem;
  .form-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 0.9rem;
    color: $gray-200;
  }
  input {
    background-color: $white-100;
    color: $gray-750;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem;
  }
}