<div class="d-flex">
  <div class="users d-flex flex-column mt-3">
    <div class="users-content d-flex flex-column m-3">
      <span class="users-content__img d-flex align-items-center justify-content-center">
        <fa-icon [icon]="faUser"></fa-icon>
      </span>
    </div>
    <!-- end of .users-content  -->
  </div>
  <!-- end of .users -->
  <app-form 
    [props]="userformData"
    (submitted)="onSubmitted($event)">
    <button type="submit" class="btn-custom mt-3">Add User</button>
  </app-form>
  <!-- end of app-form   -->
</div>
<!-- end of .d-flex  -->