$gray-800: #191c1f;
$gray-700: #767f84;
$gray-500: #767f84;
$gray-400: #5d7484;
$gray-200: #d6d7d8;
$gray-100: #c1c3c4;

$pink-400: #f83745;
$pink-300: #ff424f;
$pink-200: #a53e47;
$pink-100: #fd7777;

$white-100: #fef5f6;
$white: #ffff;