<div class="form mt-3">
  <ng-content select="p"></ng-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let prop of formProps">
      <div [ngSwitch]="prop.type">
        <div class="form-container" *ngSwitchCase="'text'">
          <label [for]="prop.label">{{prop.label}}</label>
          <input type="text" formControlName="{{prop.key}}" [placeholder]="prop.placeholder">
        </div>
        <div class="form-container" *ngSwitchCase="'number'">
          <label [for]="prop.label">{{prop.label}}</label>
          <input type="number" formControlName="{{prop.key}}" [value]="prop.value">
        </div>
        <div class="form-container" *ngSwitchCase="'text-area'">
          <label [for]="prop.label">{{prop.label}}</label>
          <textarea formControlName="{{prop.key}}"></textarea>
        </div>
        <div class="form-container" *ngSwitchCase="'date'">
          <input type="text" formControlName="{{prop.key}}" bsDatepicker [minDate]="minDate"
          [maxDate]="maxDate"/>
        </div>
        <div class="form-container" *ngSwitchCase="'select'">
          <select [formControlName]="prop.key">
            <option *ngFor="let option of prop.options" [value]="option.value" >
              {{ option.label }}
            </option>
          </select>
        </div>
      </div>  
    </div>
    <ng-content select="button"></ng-content>
  </form>
</div>