@import 'src/assets/styles/base/colors.scss';
@import 'src/assets/styles/base/custom.scss'; 

.movie {
  color: white;
}

.movie {
  width: 25%;
  &-content__img {
    img {
      width: 100%;
      height: 10rem;
    }
  }
}

.content {
  width: 100%;
  position: relative;
  &-container {
    &__name {
      color: $gray-200;
      font-size: 1rem;
      font-weight: 600;
    }
    &__genre {
      color: $gray-100;
      font-size: 0.7rem;
    }
    &__ratings {
      position: absolute;
      background-color: $gold-100;
      right: 0;
    }
  }
}

app-form {
  width: 74%;
  p {
    color: $gray-100;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}

::ng-deep app-form {
  form {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    div {
      margin-right: auto;
    }

    input {
      color: $gray-100;
      font-size: 0.8rem;
      font-weight: 600;
      width: 48%;
      padding: 0 1rem;
      border-radius: 25px;
      background-color: $gray-750;
      border: 1.5px solid $gray-100;
    }
  }
}