<div class="d-flex" *ngIf="(movie$ | async) as movie">
  <div class="movie d-flex flex-column mt-3">
    <div class="movie-content d-flex flex-column m-3">
      <span class="movie-content__img">
        <img [src]="movie.imageUrl" [alt]="movie.name"> 
      </span>
      <div class="content d-flex mt-1">
        <div class="content-container d-flex flex-column">
          <span class="content-container__name">{{movie.name}}</span>
          <span class="content-container__genre">{{movie.genre}}</span>
        </div>
        <span class="content-container__ratings badge">{{movie.ratings}}</span>
      </div>
    </div>
  </div>
  <app-form 
    [props]="formData"
    (submitted)="onSubmitted($event)">
    <p>{{movie.about}}</p>
    <button *ngIf="!user.admin" type="submit" class="mr-3 btn-custom">Borrowed</button>
  </app-form>
</div>
