<div class="side-bar">
  <div class="menu d-flex flex-column">
    <a [routerLink]="['./new-release']" 
       routerLinkActive="active-route">New Releases</a>
    <a [routerLink]="['./trending']" 
       routerLinkActive="active-route">Trending</a>
    <a [routerLink]="['./coming-soon']" 
       routerLinkActive="active-route">Coming Soon</a>
    <a *ngIf="!user.admin"
       [routerLink]="['./borrowed']" 
       routerLinkActive="active-route">Borrowed</a>
    <a *ngIf="user.admin"
       [routerLink]="['./users']" 
       routerLinkActive="active-route">Users</a>
  </div>
  <!-- end of .menu  -->
</div>
<!-- end of .side-bar  -->