@import 'src/assets/styles/base/colors.scss';
@import 'src/assets/styles/base/custom.scss';

.movie {
  width: 25%;
  &-content__img {
    img {
      width: 100%;
      height: 10rem;
    }
  }
}

.content {
  width: 100%;
}

app-form {
  width: 74%;
}

::ng-deep app-form {
  margin-top: 0.8rem;
  .form-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 0.9rem;
    color: $gray-200;
  }
  input {
    background-color: $white-100;
    color: $gray-750;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem;
  }
}